#map {
    height: 400px;
    width: 100%;
}
body {
    font-family: Arial, sans-serif;
    text-align: center;
}
.weather-container {
    margin-top: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
}
#error-message {
    color: red;
    font-weight: bold;
}
body {
    font-family: "Roboto", sans-serif;
    color: #000000;
    background-color: #ffffff;
  }
  .navbar-icon {
    margin-left: 20px; 
  }
footer {
	background-color: #07575b;
    padding: 20px;
    text-align: center;
    flex-shrink: 0;
}
footer h4{
    color:#ffffff;
}

  
