#map {
    height: 400px;
    width: 100%;
}
body {
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 16px;
    background-color: #F3FAE1;
    min-height: 100vh;
      
}
.weather-container {
    margin-top: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
}
#error-message {
    color: red;
    font-weight: bold;
}
  .navbar-icon {
    margin-left: 20px; 
  }
  .content {
    flex: 1;
}
  .wrapper {
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
}
footer {
	background-color: #A4D4B4;
    padding: 10px;
    text-align: center;
}
footer h4{
    color:#ffffff;
}
@media screen and (min-width: 768px) {
    body {
        font-size: 18px;
      }
  }
  
  @media screen and (min-width: 1024px) {
    body {
        font-size: 20px;
      }

  }
  .container {
    max-width: 1200px; 
    margin: 0 auto;   
    padding: 20px;     
  }
